<div class="">
  <%= message.text %>
</div>
<div class="">
  <%= message.trigger.type %>
</div>
<div class="">
  <%= message.trigger.created_at %>
</div>
<div class="">
  <%= message.trigger.updated_at %>
</div>
<div class="">
  <%= message.trigger.views %>
</div>
